#mainbox {
    display: grid;
    row-gap: 20px;
    border: solid;
    margin: auto;
    max-width: 30%;
    min-height: 80vh;
    padding: 1%;
    background-color: beige;
}

input {
    max-width: 3em;
}

img {
    max-width: 4em;
    max-height: 4em;
}

.container {
    display: grid;
    border: solid;
    grid-template-rows: auto;
    background-color: rgb(235, 174, 122);
    padding: 5%;
    gap: 10px;
}

#dices {
    display: grid;
    grid-template-rows: auto auto;
    gap: 30px;
    justify-content: center;
    text-align: center;
    grid-row: 1;
}

#scoreboard {
    grid-template-columns: 1fr 0.5fr 0.1fr 0.1fr 0.1fr 0.2fr;
    grid-row: 2;
}

#diceContainer {
    grid-row: 1;
    display: flex;
    gap: 50px;
    justify-content: center;
}

#counterAndButton {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    grid-column: 1;
}

.number {
    grid-column: 2;
}

#sumLabel {
    grid-column: 3;
}

#sumInput {
    grid-column: 4;
}

#bonusLabel {
    grid-column: 5;
}

#bonusInput {
    grid-column: 6;
}

#totalLabel {
    grid-column: 5;
}

#counter {
    justify-self: start;
}

#rollButton {
    justify-self: end;
    margin-right: 20px;
    width: 80px;
}

.selected {
    opacity: 50%;
}
