#mainbox {
    display: grid;
    row-gap: 20px;
    border: solid;
    margin: auto;
    max-width: 30%;
    min-height: 80vh;
    padding: 1%;
    background-color: beige;
}

input {
    max-width: 3em;
}


.container {
    display: grid;
    border: solid;
    grid-template-rows: auto;
    background-color: rgb(235, 174, 122);
    padding: 5%;
    gap: 10px;
}

.left {
    grid-column: 1;
}

.number {
    grid-column: 2;
}

#sumLabel {
    grid-column: 3;
}

#sumInput {
    grid-column: 4;
}

#bonusLabel {
    grid-column: 5;
}

#bonusInput {
    grid-column: 6;
}

#totalLabel {
    grid-column: 5;
}

#dices {
    grid-row: 1;
}

#scoreboard {
    grid-template-columns: 1fr 0.5fr 0.1fr 0.1fr 0.1fr 0.2fr;
    grid-row: 2;
}